body{
font-family:'verdana',sans-serif;
background:#7200b4;
margin:0;
padding:0;
}

.container{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.card{
width:350px;
background:#8900d9;
padding:30px;
border-radius:15px;
text-align:center;
box-shadow:0 8px 25px rgba(0,0,0,0.4);
position:relative;
}

.badge{
position:absolute;
top:10px;
right:10px;
background:white;
color:#8900d9;
font-size:10px;
padding:3px 6px;
border-radius:5px;
}

.profile{
width:100px;
height:100px;
border-radius:50%;
border:4px solid white;
position:relative;
}

h2, h3{
color:white;
}

h2{
margin-top:20px;
margin-bottom:-5px;
}

.bio{
color:#ffffff;
font-size:14px;
margin-bottom:30px;
}

.btn{
display:block;
text-decoration:none;
color:white;
padding:12px;
margin:10px 0;
border-radius:8px;
background:linear-gradient(90deg,#FF4545,#FF4545);
box-shadow:0 4px 10px rgba(0,0,0,0.3);
transition:0.3s;
}

.btn:hover{
transform:scale(1.05);
background:linear-gradient(90deg,#e92d2d,#e92d2d);
}

.connect{
background:#0A64EE;
}

.connect:hover{
background:#0143a5;
}

a:active{
transform:scale(0.95);
}

.video-box{
display:flex;
justify-content:center;
margin-top:15px;
}

.gallery-section{
margin-top:20px;
color:white;
}

.gallery{
margin-top:10px;
}

.photo-box{
float:left;
width:30%;
margin:1.66%;
text-align:center;
}

.photo-box img{
width:100%;
border-radius:10px;
box-shadow:0 4px 10px rgba(0,0,0,0.4);
transition:0.3s;
}

.photo-box img:hover{
transform:scale(1.05);
}

.photo-text{
font-size:10px;
color:white;
margin-top:5px;
text-align:center;
}

.gallery-section p{
text-align:center;
}

.caption{
color:#ffffff;
font-size:14px;
margin-top:10px;
margin-bottom:10px;
}

.clear{
clear:both;
}

#gallery-title{
margin-top:20px;
font-size:16px;
}